@import "variables";

/* cursor */

.cursor {
  @include size(1rem, 1rem);
  position: fixed;
  left: 0.5rem;
  border-radius: 50%;
  background: $hoverEffectAndCursor;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999;
}

.cursor.grow {
  mix-blend-mode: difference;

  &::before {
    @include size(2.5rem, 2.5rem);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: solid 2px $hoverEffectAndCursor;
    z-index: 999;
  }

}

/* ---------- */